<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>COVID-19 Chatbot</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='styles.css')}}">
    <script src="{{url_for('static', filename='languages.js')}}"></script>
    <script>
      var PYTHON_SERVER_ADDRESS = "{{ console_address }}";
      var selected_intent = ",";
      var touchEvent = "ontouchstart" in window ? "touchstart" : "click";
      window.onload = function () {
        function makePercentage(score) {
          return (score * 100).toFixed(2) + "%";
        }

        const selected = "selected-tr";
        function selectTRow() {
          if (this.classList.contains(selected)) {
            this.classList.remove(selected);
            document.querySelector("#submit-data").style.display = "none";
            selected_intent = ",";
          } else {
            this.classList.add(selected);
            document.querySelector("#submit-data").style.display = "block";
            selected_intent = this.lastChild.innerHTML;
            const siblings = Array.prototype.filter.call(
              this.parentNode.children,
              (child) => {
                return child !== this;
              }
            );
            for (let sibling of siblings) {
              sibling.classList.remove(selected);
            }
          }
        }

        function makeTRow(name, score) {
          var tr = document.createElement("tr");

          var td_name = document.createElement("td");
          var samp_name = document.createElement("samp");
          samp_name.innerHTML = name;
          td_name.appendChild(samp_name);
          tr.appendChild(td_name);

          var td_score = document.createElement("td");
          td_score.setAttribute("class", "text-right");
          var samp_score = document.createElement("samp");
          samp_score.innerHTML = score;
          td_score.appendChild(samp_score);
          tr.appendChild(td_score);

          var td_data = document.createElement("td");
          td_data.innerHTML = "intent:" + name;
          td_data.style.display = "none";
          tr.appendChild(td_data);

          tr.addEventListener(touchEvent, selectTRow);
          tr.style.cursor = "pointer"; // iOS bug

          return tr;
        }

        function makeTBody(query, array) {
          // Create the table body
          var tbody = document.createElement("tbody");

          // Create the table rows
          for (var i = 0; i < array.length; i++) {
            tbody.appendChild(
              makeTRow(array[i][0], makePercentage(array[i][1]))
            );
          }

          // Add coronavirus_unsupported
          tbody.appendChild(makeTRow("coronavirus_unsupported", ""));

          // Add out_of_domain
          tbody.appendChild(makeTRow("out_of_domain", ""));

          return tbody;
        }

        // Add the contents of options[0] to #foo:
        document
          .getElementById("submit_button")
          .addEventListener(touchEvent, function (event) {
            event.preventDefault();
            var query_box_val = document.getElementById("query").value;
            var xhr = new XMLHttpRequest();
            xhr.onreadystatechange = function () {
              if (this.readyState == 4) {
                if (this.status == 200) {
                  var data = JSON.parse(xhr.responseText);
                  // Display the returned data in browser
                  document.getElementById("best-prediction-text").innerHTML =
                    data.prediction[0];
                  document.getElementById(
                    "best-prediction-score"
                  ).innerHTML = makePercentage(data.prediction[1]);
                  document.querySelector("#raw-scores tbody").remove();
                  document
                    .querySelector("#raw-scores")
                    .appendChild(makeTBody(data.query, data.raw_scores));
                  document.querySelector("#results").style.display = "block";
                  document.querySelector("#cta").style.display = "block";
                  document.querySelector("#cta-success").style.display = "none";
                  document.querySelector("#submit-data").style.display = "none";
                } else {
                  console.error("Error: " + this.status);
                }
              }
            };

            xhr.open(
              "GET",
              PYTHON_SERVER_ADDRESS +
                "api/model/?query=" +
                encodeURI(query_box_val)
            );
            xhr.send();
          });

        // Query on enter
        var query_box = document.getElementById("query");
        query_box.addEventListener("keyup", function (event) {
          // Number 13 is the "Enter" key on the keyboard
          if (event.keyCode === 13) {
            event.preventDefault();
            document.getElementById("submit_button").click();
          }
        });

        // add submit data button
        var submit_data_button = document.querySelector("#submit-data");
        submit_data_button.addEventListener(touchEvent, function () {
          var xhr = new XMLHttpRequest();
          var data_point =
            document.getElementById("query").value + "," + selected_intent + "," + document.getElementById("language_selector").value;
          xhr.onreadystatechange = function () {
            if (this.readyState == 4) {
              if (this.status == 200) {
                var data = JSON.parse(xhr.responseText);
                // Display the returned data in browser
                var success_message =
                  "The data point <samp> (query=" +
                  data.query +
                  ", label=" +
                  data.label +
                  ", language=" +
                  data.language +
                  ") </samp>has been added to our database";
                document.querySelector(
                  "#success-message"
                ).innerHTML = success_message;
                document.querySelector("#cta").style.display = "none";
                document.querySelector("#cta-success").style.display = "block";
              } else {
                console.error("Error: " + this.status);
              }
            }
          };

          xhr.open(
            "GET",
            PYTHON_SERVER_ADDRESS +
              "api/add_data/?data_point=" +
              encodeURI(data_point)
          );
          xhr.send();
        });

        // create the language drop down
        function createLanguageDropDown() {
          for (var iso_code in ISO_LANGUAGES) {
            if (ISO_LANGUAGES.hasOwnProperty(iso_code)) {
              var option = document.createElement("option");
              option.value = iso_code;
              option.innerText = ISO_LANGUAGES[iso_code].name;
              document.getElementById("language_selector").append(option);
            }
          }

          document.getElementById("language_selector").value = "en";
        }

        createLanguageDropDown();
      };
    </script>
  </head>

  <body>
    <main role="main" class="container text-center">
      <div id="content">
        <h1 class="mt-5">COVID-19 Chatbot</h1>
        <form class="my-4" id="query-box">
          <div class="input-group">
            <input
              type="text"
              class="form-control form-control-lg"
              id="query"
              value="What is coronavirus?"
            />
            <div class="input-group-append">
              <button
                class="btn btn-outline-secondary"
                type="submit"
                id="submit_button"
              >
                Analyze
              </button>
            </div>
          </div>
        </form>
        <div id="results" style="display: none;">
          <div class="card bg-light mb-4">
            <div class="card-header">Top Model Prediction</div>
            <div class="card-body">
              <h5 class="card-title">
                <samp id="best-prediction-text"></samp>
              </h5>
              <p class="card-text">
                <samp id="best-prediction-score"></samp>
              </p>
            </div>
          </div>
          <div id="cta">
            <div class="container mb-3">
              <h5>Help us gather more data!</h5>
              <p>
                Select the correct prediction below and submit to provide us
                data to learn from!
              </p>
              <button
                type="submit"
                id="submit-data"
                class="btn btn-outline-success"
                style="display: none;"
              >
                Submit
              </button>
            </div>
            <div class="container mb-3">Language: <select class="form-control" id="language_selector"></select></div>
            <table class="table table-sm table-hover" id="raw-scores">
              <thead>
                <tr>
                  <th scope="col" class="col">Intent</th>
                  <th scope="col" class="col">Confidence</th>
                  <th style="display: none;"></th>
                </tr>
              </thead>
              <tbody></tbody>
            </table>
          </div>
          <div id="cta-success" style="display: none;">
            <h5>Thank you for contributing!</h5>
            <p id="success-message"></p>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
